html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 140px;
    background-color: #000000;
    box-sizing: border-box;
}

.menu {
    display: flex;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    margin: 10px 40px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.book-button {
    background-color: rgba(255, 255, 255, 0.369);
    border-radius: 40px;
    font-family: "Roboto";
    width: 90px;
    height: 30px;
    text-align: center;
}

.book-now-button {
    text-decoration: none;
    color: #FFFFFF;
}

.img-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/barber-chair.png) center center/cover no-repeat;
    width: 100%;
    height: 95vh;
    object-fit: contain;
    background-position-y: -17rem;
    display: flex;
    justify-content: center;
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Montserrat";
    margin-bottom: 10rem;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 10px;
}

.inner-container h2 {
    margin-top: 20px;
}

.inner-container a {
    background-color: #000000;
    width: 190px;
    height: 60px;
    font-size: 26px;
    font-weight: 500;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

fieldset {
    position: relative; 
    padding: 35px 25px 75px;
    border: 2px solid;
}

fieldset legend{
    left:50%;
} 
.legend2 {     
    position: absolute;
    bottom: -1.4ex;
    left: 29%;
    background: #000000;
    width: 190px;
    height: 60px;
    border-radius: 15px;
    background: transparent;
}

caption, .legend2 { 
    padding: 0 2px 
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

#gallery {
    height: 54rem;
    margin-top: 5rem
}

.gallery-title {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    margin-top: 32px;
}

.eapps-widget, [data-app='eapps-instagram-feed-popup'] {
    margin: 0 auto;
}

.line-break {
    border: 2px solid #000000;
    width: 68px;
    height: 0px;
    margin: auto;
    margin-top: 58px;
}

#testimonials {
    background:rgba(0, 0, 0, 0.1);
    height: 52rem;
}

.testimonial-title {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    position: relative;
    top: 50px;
}

footer {
    background-color: #000000;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.footer-button {
    width: 135px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #000000;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 550px;
    margin-top: 3rem;
}

.phone {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 3rem;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    margin-top: 30px;
}

.social-icons i {
    color: #fff;
    font-size: 30px;
}

.testimonial-slider {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.slide p {
    color:#000000;
    text-align: center;
    padding: 0 100px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    font-family: "Montserrat";
    line-height: 1.6;
}

.testimonial .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}


.slide .quote-icon {
    font-size: 30px;
}

.details .name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.slide {
    margin: auto;
}

.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #FFFFFF;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
    body, html {
        overflow-x: hidden;
        position: relative;
    }

    .menu {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 6vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menu a {
        margin: 40px;
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #FFFFFF;
        font-family: "Montserrat";
        margin-bottom: 10rem;
    }
    
    h1 {
        font-size: 30px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h2 {
        font-size: 40px;
        font-weight: 500;
        margin-top: 10px;
    }

    .img-container {
        width: 100%;
        object-fit: contain;
        background-position-y: 0;
        display: flex;
        justify-content: center;
    }

    .legend2 {
        left: 20.5%;
    }

    #gallery {
        height: 40rem;
        margin-top: 0;
    }

    p {
        font-family: "Montserrat";
        font-size: 21px;
        font-weight: 400;
        text-align: center;
        color: #FFFFFF;
    }

    .footer-button {
        width: 120px;
        height: 40px;
    }

    .footer-line {
        width: 280px;
    }

    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        height: 30px;
        width: 30px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

